.aboutCont{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
        background: url('../media/Amps.JPG') center no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #707070;
        background-blend-mode: multiply;
              
    padding: 100px 2rem;
    @media screen and (max-width: 768px) { 
        padding: 50px 1rem;
    }
}