.engineerCont{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background: darken($base, 15%);
    padding: 50px 0;
    justify-content: space-evenly;
  
    .seth,.mike{
        
        position: relative;
        width: 33%;
        display:flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        
        h3{
            font-size: 3rem;
            margin:0 auto;
            @media (device-height : 568px) 
            and (device-width : 320px) 
            and (-webkit-min-device-pixel-ratio: 2)
        /* and (orientation : todo: you can add orientation or delete this comment)*/ {
         /*IPhone 5 only CSS here*/
             font-size: 1rem;
        }
            @media screen and (max-width: 768px){ 
               font-size: 1.25rem;
                }
        }
        p{
            margin: 0 auto;
            @media (device-height : 568px) 
            and (device-width : 320px) 
            and (-webkit-min-device-pixel-ratio: 2)
        /* and (orientation : todo: you can add orientation or delete this comment)*/ {
         /*IPhone 5 only CSS here*/
             font-size: .75rem;
            }
        }

    }
    img{
        margin: 0 20px;
        width: 100%;
    }
}

  .subTitle{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        h3{
            font-size:3.5rem;
            @media screen and (max-width: 768px){ 
                font-size: 2.25rem;
                 }
        }
    }