.navbar{
    @include default(100%, 50px);
    flex-flow: row;
    background: transparent;
    position:fixed;
    z-index: 100;
    color: $compliment-light;
    align-items: center;
    
  
  
    .title{
       
        color: $compliment-light;
        width: 50%;
        margin-left: 5px;
        text-decoration: none;
        &.active{
            color: white;
        }
        &:hover {
            color:white;
            transform: all 0.3 ease-in;
        }
    }
    .links{
        width: 100%;
        display:inline-flex;
        justify-content: space-evenly;
        flex-flow: row;
        .linkItems{
            &.active{
                color: white;
            }
            &:hover {
                color:white;
                transform: all 0.3 ease-in;
            }
            color: $compliment-light;

            text-decoration: none;
            
        }
    }

}
    .svg{
        fill: $compliment-light;
        &.active{
            fill: white;
        }
        &:hover {
            fill:white;
            transform: all 0.3 ease-in;
        }

    }

  .scrolling{
        background: darken($base, 25%);
        transition: all 0.5s ease-in;
    }
    .away {
        display: none;
    }