.first-slide {
    background-image: url('../media/AltRoomA.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #a9a9a9;
    background-blend-mode: multiply;
}
.second-slide {
    background-image: url('../media/console.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #a9a9a9;
    background-blend-mode: multiply;
}
.third-slide {
    background-image: url('../media/RoomA.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;    
    background-color: #a9a9a9;
    background-blend-mode: multiply;
}